mat-card {
  height: 300px;
  margin: 20px 0;
  /deep/.mat-card-header-text {
    width: 100%;
    margin: 0;
  }
  .mat-card-image {
    height: 130px;
    min-height: 130px;
    img {
      max-height: 100%;
      width: initial;
      height: inherit;
      max-width: 100%;
    }
  }
  mat-card-actions {
    mat-chip {
      mat-icon {
        cursor: default !important;
      }
    }
  }
}
