.card-container {
  height: 300px;
  margin: 20px 0;
  &.purchased {
    h2, small {
      text-decoration: line-through;
    }
    img {
      opacity: 0.2;
    }
  }
  .card-image {
    height: 130px;
    min-height: 130px;
    a, img {
      width: initial;
      height: inherit;
      max-height: 100%;
      max-width: 100%;
    }
  }
  .card-actions {
    padding: 6px;
  }
}
