mat-toolbar {
  .list-name {
    text-align: center;
  }
  mat-icon img {
    width: inherit;
  }
  #profile-picture {
    overflow: hidden;
    img {
      width: 100%;
      vertical-align: initial;
    }
  }
}
.main-content {
  padding: 10px;
  #search-items {
    width: 100%;
  }
  app-item {
    margin: 10px 10px;
    display: block;
  }
}
mat-drawer {
  min-width: 300px;
}
mat-drawer-container {
  background-color: transparent;
}
.drawer-content {
  height: 100%;
}
