<mat-progress-bar [mode]="(listLoading$ | async) ? 'indeterminate' : ''"></mat-progress-bar>
<mat-toolbar fxlayoutalign="start center" fxLayoutGap="15px" class="mat-elevation-z5">
  <div fxFlex>
    <h1 *ngIf="list?.name">{{list.name}}'s List</h1>
  </div>
  <button mat-mini-fab color="primary" (click)="openNewDialog()" *ngIf="isAdmin$ | async"><mat-icon>add</mat-icon></button>
</mat-toolbar>
<div class="main-content" *ngIf="list._id">
  <div fxLayout fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="start">
    <div fxFlex fxFlex.lt-sm="initial">
      <form [formGroup]="searchForm" fxLayout="column">
        <div fxFlex="initial" fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
          <div fxFlex fxLayoutAlign="start center">
            <mat-form-field id="search-items">
              <input type="text" matInput formControlName="term" placeholder="Search">
            </mat-form-field>
          </div>
          <!--<button fxFlex="initial" color="accent" [disabled]="loading$ | async" fxFlex="initial" mat-icon-button (click)="getList()"><mat-icon>refresh</mat-icon></button>-->
        </div>
        <div fxFlex="initial" fxFlex.lt-sm="grow" fxLayout fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign.lt-sm="start" fxLayoutAlign="space-between center">
          <div fxLayout fxLayoutAlign.lt-sm="center" fxFlex="noshrink">
            <mat-chip-list *ngIf="user?._id && user?._id !== list.userId" multiple fxFlex="initial">
              <mat-chip color="accent" [disabled]="loading$ | async" [selected]="searchForm?.controls['available']?.value" (click)="toggleControl('available')">Not Purchased</mat-chip>
              <mat-chip color="accent" [disabled]="loading$ | async" [selected]="searchForm?.controls['purchased']?.value" (click)="toggleControl('purchased')">Purchased</mat-chip>
            </mat-chip-list>
          </div>
          <div fxFlex="initial" fxLayout fxLayoutGap="15px">
            <mat-form-field fxFlex="initial" fxFlex.lt-sm="">
              <mat-select formControlName="orderBy" placeholder="Order By" [compareWith]="orderByCompareFn">
                <div *ngFor="let item of orderBys">
                  <mat-option [value]="item">{{item.label}}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="toggleSortOrder()" color="accent"><mat-icon>swap_vert</mat-icon></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let item of filteredItems">
      <app-item [(item)]="item" [loading$]="loading$" [isAdmin]="isAdmin$ | async" (changed)="updateItem($event)" (delete)="deleteItem($event)" (edit)="openNewDialog($event)"></app-item>
    </div>
  </div>
</div>
