<mat-toolbar color="primary">
  <div fxFlex>Welcome</div>
  <button mat-mini-fab color="accent" (click)="openNewDialog()" *ngIf="isAdmin$ | async"><mat-icon>add</mat-icon></button>
</mat-toolbar>
<div fxLayout="row wrap">
  <div *ngFor="let list of lists" fxFlex="25" fxFlex.sm="50" fxFlex.xs="100" class="card-holder">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{list.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <span mat-list-icon>{{getPurchased(list)}}</span>
            <h4 matLine>Purchased</h4>
          </mat-list-item>
          <mat-list-item>
            <span mat-list-icon>{{getAvailable(list)}}</span>
            <h4 matLine>Available</h4>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="space-between center">
        <a mat-button color="accent" [routerLink]="['../lists',list._id]">View</a>
        <button mat-icon-button color="accent" (click)="deleteList(list._id)" *ngIf="isAdmin$ | async"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
