.card-holder {
  padding: 10px;
}
mat-card-header {
  /deep/.mat-card-header-text {
    width: 100%;
    margin: 0;
  }
}
mat-card-content {
  .mat-display-2 {
    margin-top: 20px;
  }
  .mat-list-icon {
    line-height: 24px;
  }
}
