mat-toolbar#main-nav {
  z-index: 2;
  position: fixed;
  mat-icon img {
    width: inherit;
  }
  #profile-picture {
    overflow: hidden;
    img {
      width: 100%;
      vertical-align: initial;
    }
  }
}
mat-sidenav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  mat-sidenav {
    width: 300px;
  }
}
