<mat-toolbar fxFlex="none" color="primary" id="main-nav" fxLayoutGap="30px">
  <button mat-icon-button (click)="sidenav.toggle();projectsSidenav.close();"><mat-icon>list</mat-icon></button>
  <div fxFlex><a href="">Wish Lists</a></div>
  <div fxFlex="initial" fxLayoutGap="10px" fxLayoutAlign="start center">
    <a mat-icon-button href="https://github.com/pmnevill/wish-list" target="_blank"><mat-icon class="icon-github"></mat-icon></a>
    <button mat-icon-button (click)="sidenav.close();projectsSidenav.toggle()"><mat-icon>apps</mat-icon></button>
    <button mat-icon-button id="profile-picture" [matMenuTriggerFor]="accountMenu">
      <mat-icon *ngIf="!user?.auth0?.picture">account_circle</mat-icon>
      <img *ngIf="user?.auth0?.picture" [src]="user?.auth0?.picture" alt="profile picture">
    </button>
    <mat-menu #accountMenu="matMenu" fxHide>
      <a mat-menu-item href="/logout" *ngIf="user?._id">Log Out</a>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-sidenav-container hasBackdrop fxFlex [ngStyle.gt-xs]="{'top': '64px'}" [ngStyle.xs]="{'top': '56px'}">
  <mat-sidenav #sidenav mode="over">
    <div fxLayout="column">
      <mat-toolbar color="accent">
        <div fxFlex>Lists</div>
        <button mat-icon-button (click)="sidenav.close()"><mat-icon>close</mat-icon></button>
      </mat-toolbar>
      <mat-progress-bar color="accent" [mode]="(listsLoading$ | async) ? 'indeterminate' : ''"></mat-progress-bar>
      <mat-nav-list fxFlex>
        <a mat-list-item routerLink="/" (click)="sidenav.close()"><mat-icon>home</mat-icon></a>
        <mat-divider></mat-divider>
        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <a mat-list-item cdkDrag [cdkDragStartDelay]="500" [routerLink]="['/lists', list._id]" queryParamsHandling="merge" *ngFor="let list of lists" (click)="sidenav.close()">{{list.name}}</a>
        </div>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav #projectsSidenav mode="over" position="end">
    <mat-toolbar>Projects</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="http://paulnevill.com">Resume</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
