
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~src/assets/icomoon/style.css';
@import 'mixins';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wish-list-primary: mat-palette($mat-light-blue, 700);
$wish-list-accent: mat-palette($mat-blue-grey);

// The warn palette is optional (defaults to red).
$wish-list-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wish-list-theme-light: mat-light-theme($wish-list-primary, $wish-list-accent, $wish-list-warn);
$wish-list-theme: mat-dark-theme($wish-list-primary, $wish-list-accent, $wish-list-warn);

@mixin aac-custom-styles($theme) {
  a {
    text-decoration: none;
    color: map-get(map-get($theme, foreground), text);
  }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wish-list-theme);
@include component-mixins($wish-list-theme);
@include aac-custom-styles($wish-list-theme);

.light-theme {
  @include angular-material-theme($wish-list-theme-light);
  @include component-mixins($wish-list-theme-light);
  @include aac-custom-styles($wish-list-theme-light);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-ellipsis {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
